$screen-size:1024px;


$version1:(
    background-color: #3A4663,
    text-contentColor:#FFFFFF,
    thumb-color:#D03F2F,
    thumb-colorHover:#F96B5B,
    input-color:#242D44,
    content-output:#181F33,
    buttonsDivColor:#242D44,
    buttonColors:#EAE3DC,
    boxshadowColor:#B3A497,
    buttonsTextColor:#434A59,
    buttonsBoxHover:#FFFFFE,
    DelDivColor:#647198,
    DelResetDivHover:#A2B2E1,
    boxshadowDelReset:#414E73,
    DelDivTextColor:#FFFFFF,
    ResetDivColor:#647198,
    ResetDivTextColor:#FFFFFF,
    equalDivTextColor:#FFFFFF,
    equalDivColor:#D03F2F,
    equalDivHover:#F96B5B,
    boxShadowColorEqual:#93261A
);

$version2:(
    background-color: #E6E6E6,
    text-contentColor:#36362C,
    thumb-color:#C85402,
    thumb-colorHover:#FF8A38,
    input-color:#D2CDCD,
    content-output:#EEEEEE,
    buttonsDivColor:#D2CDCD,
    buttonColors:#E5E4E1,
    boxshadowColor:#A79E91,
    buttonsTextColor:#36362C,
    buttonsBoxHover:#FFFFFF,
    DelDivColor:#378187,
    DelResetDivHover:#62B5BC,
    boxshadowDelReset:#1B6066,
    DelDivTextColor:#FFFFFF,
    ResetDivColor: #378187,
    ResetDivTextColor:#FFFFFF,
    equalDivTextColor:#FFFFFF,
    equalDivColor:#C85402,
    equalDivHover:#FF8A38,
    boxShadowColorEqual:#873901
);


$version3:(
    background-color: #17062A,
    text-contentColor:#FFE53D,
    thumb-color:#00DED0,
    thumb-colorHover:#93FFF8,
    input-color:#1E0936,
    content-output:#1E0936,
    buttonsDivColor:#1E0936,
    buttonColors:#331C4D,
    boxshadowColor:#881C9E,
    buttonsTextColor:#FFE53D,
    buttonsBoxHover:#6C34AC,
    DelDivColor:#56077C,
    DelResetDivHover:#8631AF,
    boxshadowDelReset:#BE15F4,
    DelDivTextColor:#FFFFFF,
    ResetDivColor: #56077C,
    ResetDivTextColor:#FFFFFF,
    equalDivTextColor:#1A2327,
    equalDivColor:#00DED0,
    equalDivHover:#93FFF8,
    boxShadowColorEqual:#6CF9F1
);

%displayFlexBody {
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:35px;
}

%displayFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%displayFlexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


%Headerdisplay{
    width:320px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 30px;
}

%BigFontStyle{
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.5333333611488342px;
    text-align: center;

    @media (min-width: 1024px) {
        font-size:40px;
      }
}

%SmallFontStyle{
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 1px;
    text-align: center;
}

%inputVisual{
    appearance: none;
    width: 71px;
    height: 26px;
    border-radius: 5px;
    outline: none;
    border-radius: 13px;
}

%delFont{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.5333333611488342px;
    text-align: center;
    font-size:20px;

    @media (min-width: 1024px){
        font-size:28px;
    }
}

%typeCount{
    width:100%;
    padding: 29px 24px 22px;
    border-radius: 10px;
    height:88px;

    @media (min-width: 1024px) {
        height:128px;
        padding:40px 32px 36px;
      }
  }
  

%outputFont{
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.6666666865348816px;
    text-align: right;

    @media (min-width: 1024px) {
       font-size:56px;
      }
}

%calculateContainer{
    width:100%;
    padding:24px;
    @extend %displayFlexRow;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:13px;
    border-radius: 10px;
    margin-bottom: 31px;

    @media (min-width: 1024px) {
        padding: 32px;
        gap:23px;
        margin-bottom: 96px;
      }
}

%buttonsSize{
    height: 64px;
    width: 60px;
    border-radius: 5px;
    border: none;

    @media (min-width: 1024px) {
        height: 64px;
        width: 101px;
    }
}


%resetDiv{
    height: 64px;
    width: 133px;
    border-radius: 5px;
    border: none;

    @media (min-width: 1024px) {
        height: 64px;
        width: 227px;
    }
}

%resetFont{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.5333333611488342px;
    text-align: center;

    @media (min-width: 1024px) {
       font-size: 28px;
    }
}

%equalDiv{
    height: 64px;
    width: 133px;
    border-radius: 5px;
    border: none;

    @media (min-width: 1024px) {
        height: 64px;
        width: 225px;
    }
}

%equalFont{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.5333333611488342px;
    text-align: center;

    @media (min-width: 1024px) {
       font-size: 25.76px;
    }
}


