@import './config.scss';

* {
    box-sizing: border-box;
}

:root {
    --background-blue: #3A4663;
    --background-grey: #E6E6E6;
    --background-dark-purple: #17062A;
    --white: #FFFFFF;
    --black-blue: #242D44;
    --dark-orange: #D03F2F;
    --dark-blue: #181F33;
    --sliver: #EAE3DC;
    --light-blue: #434A59;
    --worn-out-blue: #647198;
    --light-grey: #EEEEEE;
    --light-black: #36362C;
    --orange: #C85402;
    --dark-grey: #D2CDCD;
    --grey: #E5E4E1;
    --worn-out-green: #378187;
    --light-yellow: #FFE53D;
    --skycolor: #00DED0;
    --purple: #1E0936;
    --light-purple: #331C4D;
    --very-dark-blue: #1A2327;
    --reset-hover:#A2B2E1;
    --equal-hover:#F96B5B;
    --thumb-hover2:#FF8A38;
    --thumb-hover3:#93FFF8;
    --worn-out-purple:#56077C;
    --very-dark-black:#1A2327;
    --button1-hover-color:#6C34AC;
}




.body {
    width: 100%;
    background-color: var(--background-blue);
    @extend %displayFlexBody;

}

.body1{
    background-color: var(--background-grey);
}

.body2{
    background-color: var(--background-dark-purple);
}



.header-container {
    @extend %Headerdisplay;

    h1 {
        @extend %BigFontStyle;
        color: var(--white);
    }

    .title-1{
        color:var(--light-black);
    }

    .title-2{
        color: var(--light-yellow);
    }

    .theme-div {
        @extend %displayFlexRow;
        gap: 26px;

        .change-calc {
            @extend %displayFlexcolumn;
            align-items: flex-end;
            gap: 5px;

            h3 {
                @extend %SmallFontStyle;
                letter-spacing: 8px;
                color: var(--white);
            }

            .title-1{
                color:var(--light-black);
            }

            .title-2{
                color: var(--light-yellow);
            }

            .switch {
                width: 100%;
                @extend %displayFlexRow;
                gap: 26px;

                h2 {
                    @extend %SmallFontStyle;
                    color: var(--white);
                    text-align: end;
                }

                .title-1{
                    color:var(--light-black);
                }

                .title-2{
                    color: var(--light-yellow);
                }

                .toggle-switch {
                    @extend %inputVisual;
                }

                .toggle-switch::-webkit-slider-thumb{
                    -webkit-appearance: none; 
                    appearance: none;
                    border-radius: 20px;
                    margin-top: 0px; 
                    margin-left: 3px;
                    background-color: var(--dark-orange);
                    height: 16px;
                    width: 16px;  
                }

                .toggle-switch::-webkit-slider-thumb:hover{
                    background-color: var(--equal-hover);
                    cursor: pointer;
                }

                .theme-2::-webkit-slider-thumb{
                    background-color: var(--orange);
                    cursor: pointer;
                }

                .theme-3::-webkit-slider-thumb{
                    background-color: var(--skycolor);
                    cursor: pointer;
                }

                .thumb-1::-webkit-slider-thumb:hover{
                    background-color: var(--equal-hover);
                    cursor: pointer;
                }

                .thumb-2::-webkit-slider-thumb:hover{
                    background-color: var(--thumb-hover2);
                    cursor: pointer;
                }

                .thumb-3::-webkit-slider-thumb:hover{
                    background-color: var(--thumb-hover3);
                }

               .toggle-1{
                    background-color: var(--dark-grey);
                }

                .toggle-2{
                    background-color: var(--purple);
                }
            }
        }
    }
}

.main-container {
    @extend %displayFlexcolumn;
    width: 327px;
    gap: 24px;

    .calculator-output {
        @extend %displayFlexRow;
        justify-content: flex-end;
        @extend %typeCount;

        .type-output {
            @extend %outputFont;
        }
    }

    .calculator-buttons {
        @extend %calculateContainer;

        button {
            @extend %buttonsSize;
            @extend %BigFontStyle;
            color: var(--light-blue);
            cursor: pointer;
        }

        button:hover{
            background-color: var(--white);
            cursor: pointer;
        }

        // .button-1:hover{
        //     background-color: var(--white) !important;
        // }



        #del {
            @extend %buttonsSize;
            @extend %delFont;
            background-color: var(--worn-out-blue);
            box-shadow: inset 0px -4px 0px #414E73;
            color: var(--white);

            &:hover{
                background-color: var(--reset-hover);
                cursor:pointer;
            }
        }

        #reset {
            @extend %resetDiv;
            @extend %resetFont;
            cursor: pointer;

            &:hover{
                background-color:var(--reset-hover);
            }

        }

        #equal {
            @extend %equalDiv;
            @extend %equalFont;

            &:hover{
                background-color: var(--equal-hover);
                cursor: pointer;
            }
        }
    }
}




// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version
// desktop version


@media screen and (min-width: $screen-size) {
    @if $screen-size >=1024px {
        .header-container {
            margin-top: 98px;
            width: 540px;
        }

        .main-container {
            width: 540px;
        } 

        #reset{
            font-size:50px;
        }
    }
}