.version3, .version2, .version1 {
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}

.version3 .main-container .calculator-output, .version3 .header-container .theme-div .change-calc .switch, .version3 .header-container .theme-div, .version2 .main-container .calculator-output, .version2 .header-container .theme-div .change-calc .switch, .version2 .header-container .theme-div, .version1 .main-container .calculator-output, .version1 .header-container .theme-div .change-calc .switch, .version1 .header-container .theme-div, .version3 .main-container .calculator-buttons, .version2 .main-container .calculator-buttons, .version1 .main-container .calculator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.version3 .main-container, .version3 .header-container .theme-div .change-calc, .version2 .main-container, .version2 .header-container .theme-div .change-calc, .version1 .main-container, .version1 .header-container .theme-div .change-calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.version3 .header-container, .version2 .header-container, .version1 .header-container {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.version3 .main-container .calculator-buttons button, .version3 .header-container h1, .version2 .main-container .calculator-buttons button, .version2 .header-container h1, .version1 .main-container .calculator-buttons button, .version1 .header-container h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.5333333611px;
  text-align: center;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons button, .version3 .header-container h1, .version2 .main-container .calculator-buttons button, .version2 .header-container h1, .version1 .main-container .calculator-buttons button, .version1 .header-container h1 {
    font-size: 40px;
  }
}

.version3 .header-container .theme-div .change-calc .switch h2, .version3 .header-container .theme-div .change-calc h3, .version2 .header-container .theme-div .change-calc .switch h2, .version2 .header-container .theme-div .change-calc h3, .version1 .header-container .theme-div .change-calc .switch h2, .version1 .header-container .theme-div .change-calc h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 1px;
  text-align: center;
}

.version3 .header-container .theme-div .change-calc .switch .toggle-switch, .version2 .header-container .theme-div .change-calc .switch .toggle-switch, .version1 .header-container .theme-div .change-calc .switch .toggle-switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 71px;
  height: 26px;
  border-radius: 5px;
  outline: none;
  border-radius: 13px;
}

.version3 .main-container .calculator-buttons #del, .version2 .main-container .calculator-buttons #del, .version1 .main-container .calculator-buttons #del {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.5333333611px;
  text-align: center;
  font-size: 20px;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons #del, .version2 .main-container .calculator-buttons #del, .version1 .main-container .calculator-buttons #del {
    font-size: 28px;
  }
}

.version3 .main-container .calculator-output, .version2 .main-container .calculator-output, .version1 .main-container .calculator-output {
  width: 100%;
  padding: 29px 24px 22px;
  border-radius: 10px;
  height: 88px;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-output, .version2 .main-container .calculator-output, .version1 .main-container .calculator-output {
    height: 128px;
    padding: 40px 32px 36px;
  }
}

.version3 .main-container .calculator-output .type-output, .version2 .main-container .calculator-output .type-output, .version1 .main-container .calculator-output .type-output {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.6666666865px;
  text-align: right;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-output .type-output, .version2 .main-container .calculator-output .type-output, .version1 .main-container .calculator-output .type-output {
    font-size: 56px;
  }
}

.version3 .main-container .calculator-buttons, .version2 .main-container .calculator-buttons, .version1 .main-container .calculator-buttons {
  width: 100%;
  padding: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 13px;
  border-radius: 10px;
  margin-bottom: 31px;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons, .version2 .main-container .calculator-buttons, .version1 .main-container .calculator-buttons {
    padding: 32px;
    gap: 23px;
    margin-bottom: 96px;
  }
}

.version3 .main-container .calculator-buttons #del, .version3 .main-container .calculator-buttons button, .version2 .main-container .calculator-buttons #del, .version2 .main-container .calculator-buttons button, .version1 .main-container .calculator-buttons #del, .version1 .main-container .calculator-buttons button {
  height: 64px;
  width: 60px;
  border-radius: 5px;
  border: none;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons #del, .version3 .main-container .calculator-buttons button, .version2 .main-container .calculator-buttons #del, .version2 .main-container .calculator-buttons button, .version1 .main-container .calculator-buttons #del, .version1 .main-container .calculator-buttons button {
    height: 64px;
    width: 101px;
  }
}

.version3 .main-container .calculator-buttons #reset, .version2 .main-container .calculator-buttons #reset, .version1 .main-container .calculator-buttons #reset {
  height: 64px;
  width: 133px;
  border-radius: 5px;
  border: none;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons #reset, .version2 .main-container .calculator-buttons #reset, .version1 .main-container .calculator-buttons #reset {
    height: 64px;
    width: 227px;
  }
}

.version3 .main-container .calculator-buttons #reset, .version2 .main-container .calculator-buttons #reset, .version1 .main-container .calculator-buttons #reset {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.5333333611px;
  text-align: center;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons #reset, .version2 .main-container .calculator-buttons #reset, .version1 .main-container .calculator-buttons #reset {
    font-size: 28px;
  }
}

.version3 .main-container .calculator-buttons #equal, .version2 .main-container .calculator-buttons #equal, .version1 .main-container .calculator-buttons #equal {
  height: 64px;
  width: 133px;
  border-radius: 5px;
  border: none;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons #equal, .version2 .main-container .calculator-buttons #equal, .version1 .main-container .calculator-buttons #equal {
    height: 64px;
    width: 225px;
  }
}

.version3 .main-container .calculator-buttons #equal, .version2 .main-container .calculator-buttons #equal, .version1 .main-container .calculator-buttons #equal {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.5333333611px;
  text-align: center;
}
@media (min-width: 1024px) {
  .version3 .main-container .calculator-buttons #equal, .version2 .main-container .calculator-buttons #equal, .version1 .main-container .calculator-buttons #equal {
    font-size: 25.76px;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --background-blue: #3A4663;
  --background-grey: #E6E6E6;
  --background-dark-purple: #17062A;
  --white: #FFFFFF;
  --black-blue: #242D44;
  --dark-orange: #D03F2F;
  --dark-blue: #181F33;
  --sliver: #EAE3DC;
  --light-blue: #434A59;
  --worn-out-blue: #647198;
  --light-grey: #EEEEEE;
  --light-black: #36362C;
  --orange: #C85402;
  --dark-grey: #D2CDCD;
  --grey: #E5E4E1;
  --worn-out-green: #378187;
  --light-yellow: #FFE53D;
  --skycolor: #00DED0;
  --purple: #1E0936;
  --light-purple: #331C4D;
  --very-dark-blue: #1A2327;
  --reset-hover:#A2B2E1;
  --equal-hover:#F96B5B;
  --thumb-hover2:#FF8A38;
  --thumb-hover3:#93FFF8;
  --worn-out-purple:#56077C;
  --very-dark-black:#1A2327;
  --button1-hover-color:#6C34AC;
}

.version1 {
  width: 100%;
  background-color: #3A4663;
}
.version1 .header-container h1 {
  color: #FFFFFF;
}
.version1 .header-container .theme-div {
  gap: 26px;
}
.version1 .header-container .theme-div .change-calc {
  align-items: flex-end;
  gap: 5px;
}
.version1 .header-container .theme-div .change-calc h3 {
  letter-spacing: 8px;
  color: #FFFFFF;
}
.version1 .header-container .theme-div .change-calc .switch {
  width: 100%;
  gap: 26px;
}
.version1 .header-container .theme-div .change-calc .switch h2 {
  color: #FFFFFF;
  text-align: end;
}
.version1 .header-container .theme-div .change-calc .switch .toggle-switch {
  background: #242D44;
}
.version1 .header-container .theme-div .change-calc .switch .toggle-switch::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 3px;
  background-color: #D03F2F;
  height: 16px;
  width: 16px;
}
.version1 .header-container .theme-div .change-calc .switch .toggle-switch::-webkit-slider-thumb:hover {
  background-color: #F96B5B;
  cursor: pointer;
}
.version1 .main-container {
  width: 327px;
  gap: 24px;
}
.version1 .main-container .calculator-output {
  justify-content: flex-end;
  background-color: #181F33;
}
.version1 .main-container .calculator-output .type-output {
  color: #FFFFFF;
}
.version1 .main-container .calculator-buttons {
  background-color: #242D44;
}
.version1 .main-container .calculator-buttons button {
  background-color: #EAE3DC;
  box-shadow: inset 0px -4px 0px #B3A497;
  color: #434A59;
  cursor: pointer;
}
.version1 .main-container .calculator-buttons button:hover {
  background-color: #FFFFFE;
  cursor: pointer;
}
.version1 .main-container .calculator-buttons #del {
  background-color: #647198;
  box-shadow: inset 0px -4px 0px #414E73;
  color: #FFFFFF;
}
.version1 .main-container .calculator-buttons #del:hover {
  background-color: #A2B2E1;
  cursor: pointer;
}
.version1 .main-container .calculator-buttons #reset {
  background-color: #647198;
  box-shadow: inset 0px -4px 0px #414E73;
  color: #FFFFFF;
  cursor: pointer;
}
.version1 .main-container .calculator-buttons #reset:hover {
  background-color: #A2B2E1;
}
.version1 .main-container .calculator-buttons #equal {
  background-color: #D03F2F;
  box-shadow: inset 0px -4px 0px #93261A;
  color: #FFFFFF;
}
.version1 .main-container .calculator-buttons #equal:hover {
  background-color: #F96B5B;
  cursor: pointer;
}

.version2 {
  width: 100%;
  background-color: #E6E6E6;
}
.version2 .header-container h1 {
  color: #36362C;
}
.version2 .header-container .theme-div {
  gap: 26px;
}
.version2 .header-container .theme-div .change-calc {
  align-items: flex-end;
  gap: 5px;
}
.version2 .header-container .theme-div .change-calc h3 {
  letter-spacing: 8px;
  color: #36362C;
}
.version2 .header-container .theme-div .change-calc .switch {
  width: 100%;
  gap: 26px;
}
.version2 .header-container .theme-div .change-calc .switch h2 {
  color: #36362C;
  text-align: end;
}
.version2 .header-container .theme-div .change-calc .switch .toggle-switch {
  background: #D2CDCD;
}
.version2 .header-container .theme-div .change-calc .switch .toggle-switch::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 3px;
  background-color: #C85402;
  height: 16px;
  width: 16px;
}
.version2 .header-container .theme-div .change-calc .switch .toggle-switch::-webkit-slider-thumb:hover {
  background-color: #FF8A38;
  cursor: pointer;
}
.version2 .main-container {
  width: 327px;
  gap: 24px;
}
.version2 .main-container .calculator-output {
  justify-content: flex-end;
  background-color: #EEEEEE;
}
.version2 .main-container .calculator-output .type-output {
  color: #36362C;
}
.version2 .main-container .calculator-buttons {
  background-color: #D2CDCD;
}
.version2 .main-container .calculator-buttons button {
  background-color: #E5E4E1;
  box-shadow: inset 0px -4px 0px #A79E91;
  color: #36362C;
  cursor: pointer;
}
.version2 .main-container .calculator-buttons button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.version2 .main-container .calculator-buttons #del {
  background-color: #378187;
  box-shadow: inset 0px -4px 0px #1B6066;
  color: #FFFFFF;
}
.version2 .main-container .calculator-buttons #del:hover {
  background-color: #62B5BC;
  cursor: pointer;
}
.version2 .main-container .calculator-buttons #reset {
  background-color: #378187;
  box-shadow: inset 0px -4px 0px #1B6066;
  color: #FFFFFF;
  cursor: pointer;
}
.version2 .main-container .calculator-buttons #reset:hover {
  background-color: #62B5BC;
}
.version2 .main-container .calculator-buttons #equal {
  background-color: #C85402;
  box-shadow: inset 0px -4px 0px #873901;
  color: #FFFFFF;
}
.version2 .main-container .calculator-buttons #equal:hover {
  background-color: #FF8A38;
  cursor: pointer;
}

.version3 {
  width: 100%;
  background-color: #17062A;
}
.version3 .header-container h1 {
  color: #FFE53D;
}
.version3 .header-container .theme-div {
  gap: 26px;
}
.version3 .header-container .theme-div .change-calc {
  align-items: flex-end;
  gap: 5px;
}
.version3 .header-container .theme-div .change-calc h3 {
  letter-spacing: 8px;
  color: #FFE53D;
}
.version3 .header-container .theme-div .change-calc .switch {
  width: 100%;
  gap: 26px;
}
.version3 .header-container .theme-div .change-calc .switch h2 {
  color: #FFE53D;
  text-align: end;
}
.version3 .header-container .theme-div .change-calc .switch .toggle-switch {
  background: #1E0936;
}
.version3 .header-container .theme-div .change-calc .switch .toggle-switch::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 3px;
  background-color: #00DED0;
  height: 16px;
  width: 16px;
}
.version3 .header-container .theme-div .change-calc .switch .toggle-switch::-webkit-slider-thumb:hover {
  background-color: #93FFF8;
  cursor: pointer;
}
.version3 .main-container {
  width: 327px;
  gap: 24px;
}
.version3 .main-container .calculator-output {
  justify-content: flex-end;
  background-color: #1E0936;
}
.version3 .main-container .calculator-output .type-output {
  color: #FFE53D;
}
.version3 .main-container .calculator-buttons {
  background-color: #1E0936;
}
.version3 .main-container .calculator-buttons button {
  background-color: #331C4D;
  box-shadow: inset 0px -4px 0px #881C9E;
  color: #FFE53D;
  cursor: pointer;
}
.version3 .main-container .calculator-buttons button:hover {
  background-color: #6C34AC;
  cursor: pointer;
}
.version3 .main-container .calculator-buttons #del {
  background-color: #56077C;
  box-shadow: inset 0px -4px 0px #BE15F4;
  color: #FFFFFF;
}
.version3 .main-container .calculator-buttons #del:hover {
  background-color: #8631AF;
  cursor: pointer;
}
.version3 .main-container .calculator-buttons #reset {
  background-color: #56077C;
  box-shadow: inset 0px -4px 0px #BE15F4;
  color: #FFFFFF;
  cursor: pointer;
}
.version3 .main-container .calculator-buttons #reset:hover {
  background-color: #8631AF;
}
.version3 .main-container .calculator-buttons #equal {
  background-color: #00DED0;
  box-shadow: inset 0px -4px 0px #6CF9F1;
  color: #1A2327;
}
.version3 .main-container .calculator-buttons #equal:hover {
  background-color: #93FFF8;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .version1 .header-container {
    margin-top: 98px;
    width: 540px;
  }
  .version1 .main-container {
    width: 540px;
  }
  .version1 #reset {
    font-size: 50px;
  }
  .version2 .header-container {
    margin-top: 98px;
    width: 540px;
  }
  .version2 .main-container {
    width: 540px;
  }
  .version2 #reset {
    font-size: 50px;
  }
  .version3 .header-container {
    margin-top: 98px;
    width: 540px;
  }
  .version3 .main-container {
    width: 540px;
  }
  .version3 #reset {
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */